@import "./colors.scss";

$brat2-test-app-primary: mat.define-palette($bra2-color-blue);
$brat2-test-app-accent: mat.define-palette($bra2-color-yellow);
$brat2-test-app-warn: mat.define-palette($bra2-color-red);

$brat2-test-light-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $brat2-test-app-primary,
      accent: $brat2-test-app-accent,
      warn: $brat2-test-app-warn,
    ),
  )
);

$brat2-test-dark-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $brat2-test-app-primary,
      accent: $brat2-test-app-accent,
      warn: $brat2-test-app-warn,
    ),
  )
);