@import "./fonts.scss";

$bra2-body-1: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 16px,
  $line-height: 1,
  $letter-spacing: normal,
);

$bra2-body-2: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 500,
  $font-size: 16px,
  $line-height: 1,
  $letter-spacing: normal,
);

$bra2-caption: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 12px,
  $line-height: 1,
  $letter-spacing: normal,
);

$bra2-h1: mat.define-typography-level(
  $font-family: "CadillacSans,Arial,Helvetica,sans-serif",
  $font-weight: 700,
  $font-size: 40px,
  $line-height: 1,
  $letter-spacing: normal,
);

$bra2-h2: mat.define-typography-level(
  $font-family: "CadillacSans,Arial,Helvetica,sans-serif",
  $font-weight: 500,
  $font-size: 32px,
  $line-height: 1,
  $letter-spacing: normal,
);

$bra2-h3: mat.define-typography-level(
  $font-family: "CadillacSans,Arial,Helvetica,sans-serif",
  $font-weight: 400,
  $font-size: 24px,
  $line-height: 1,
  $letter-spacing: normal,
);

$bra2-h4: mat.define-typography-level(
  $font-family: "CadillacSans,Arial,Helvetica,sans-serif",
  $font-weight: 300,
  $font-size: 20px,
  $line-height: 1,
  $letter-spacing: normal,
);

$bra2-typography-config: mat.define-typography-config(
  $display-4: $bra2-h1,
  $display-3: $bra2-h1,
  $display-2: $bra2-h1,
  $display-1: $bra2-h1,
  $headline: $bra2-h1,
  $title: $bra2-h2,
  $subheading-2: $bra2-h3,
  $subheading-1: $bra2-h4,
  $body-1: $bra2-body-1,
  $body-2: $bra2-body-2,
  $caption: $bra2-caption,
);
