$bra2-color-yellow: (
  50: #fefaf0,
  100: #fdf2d9,
  200: #fceac0,
  300: #fae1a6,
  400: #f9da93,
  500: #f8d480,
  600: #f7cf78,
  700: #f6c96d,
  800: #f5c363,
  900: #f3b950,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff7ea,
  A700: #ffeed0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
