$bra2-color-blue: (
  50: #e3e8ee,
  100: #b9c5d4,
  200: #8a9fb7,
  300: #5b789a,
  400: #375b85,
  500: #143e6f,
  600: #123867,
  700: #0e305c,
  800: #0b2852,
  900: #061b40,
  A100: #769fff,
  A200: #437bff,
  A400: #1057ff,
  A700: #0049f6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
