@use "@angular/material" as mat;
@include mat.core();

// COLORS
$bra2-color-black: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$bra2-color-v-blue: (
  50: #e3e8ee,
  100: #b9c5d4,
  200: #8a9fb7,
  300: #5b789a,
  400: #375b85,
  500: #143e6f,
  600: #123867,
  700: #0e305c,
  800: #0b2852,
  900: #061b40,
  A100: #769fff,
  A200: #437bff,
  A400: #1057ff,
  A700: #0049f6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$bra2-color-v-yellow: (
  50: #fefaf0,
  100: #fdf2d9,
  200: #fceac0,
  300: #fae1a6,
  400: #f9da93,
  500: #f8d480,
  600: #f7cf78,
  700: #f6c96d,
  800: #f5c363,
  900: #f3b950,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff7ea,
  A700: #ffeed0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bra2-color-v-red: (
  50: #f5e4e6,
  100: #e6bac0,
  200: #d68d97,
  300: #c65f6d,
  400: #b93c4d,
  500: #ad1a2e,
  600: #a61729,
  700: #9c1323,
  800: #930f1d,
  900: #830812,
  A100: #ffb2b6,
  A200: #ff7f85,
  A400: #ff4c55,
  A700: #ff323d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

// PALETTES
$brat2-test-app-primary: mat.define-palette($bra2-color-v-blue);
$brat2-test-app-accent: mat.define-palette($bra2-color-v-yellow);
$brat2-test-app-warn: mat.define-palette($bra2-color-v-red);

// THEMES
$brat2-v-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $brat2-test-app-primary,
      accent: $brat2-test-app-accent,
      warn: $brat2-test-app-warn,
    ),
  )
);

$brat2-v-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $brat2-test-app-primary,
      accent: $brat2-test-app-accent,
      warn: $brat2-test-app-warn,
    ),
  )
);
@include mat.all-component-themes($brat2-v-light-theme);

// // FONTS
@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/CadillacSansWeb-Thin.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-Thin.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: italic;
  font-weight: 100;
  src: url("/assets/fonts/CadillacSansWeb-ThinItalic.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-ThinItalic.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/CadillacSansWeb-Light.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-Light.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: italic;
  font-weight: 200;
  src: url("/assets/fonts/CadillacSansWeb-LightItalic.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-LightItalic.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/CadillacSansWeb-Book.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-Book.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: italic;
  font-weight: 300;
  src: url("/assets/fonts/CadillacSansWeb-BookItalic.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-BookItalic.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/CadillacSansWeb-Medium.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-Medium.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/CadillacSansWeb-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/CadillacSansWeb-Bold.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-Bold.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/CadillacSansWeb-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWeb-BoldItalic.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/CadillacSansWebArabic-Thin.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWebArabic-Thin.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/CadillacSansWebArabic-Light.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWebArabic-Light.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/CadillacSansWebArabic-Book.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWebArabic-Book.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/CadillacSansWebArabic-Medium.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWebArabic-Medium.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/CadillacSansWebArabic-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWebArabic-SemiBold.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/CadillacSansWebArabic-Bold.woff2") format("woff2"),
    url("/assets/fonts/CadillacSansWebArabic-Bold.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSans;
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/CadillacSansWebArabic-ExtraBold.woff2")
      format("woff2"),
    url("/assets/fonts/CadillacSansWebArabic-ExtraBold.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/CadillacSerifWeb-Regular.woff2") format("woff2"),
    url("/assets/fonts/CadillacSerifWeb-Regular.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/CadillacSerifWeb-RegularItalic.woff2") format("woff2"),
    url("/assets/fonts/CadillacSerifWeb-RegularItalic.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/CadillacSerifWeb-Medium.woff2") format("woff2"),
    url("/assets/fonts/CadillacSerifWeb-Medium.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/CadillacSerifWeb-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/CadillacSerifWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/CadillacSerifWebArabic.woff2") format("woff2"),
    url("/assets/fonts/CadillacSerifWebArabic.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/CadillacSerifWebArabic-Medium.woff2") format("woff2"),
    url("/assets/fonts/CadillacSerifWebArabic-Medium.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/CadillacSerifWebArabic-SemiBold.woff2")
      format("woff2"),
    url("/assets/fonts/CadillacSerifWebArabic-SemiBold.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/CadillacSerifWebArabic-Bold.woff2") format("woff2"),
    url("/assets/fonts/CadillacSerifWebArabic-Bold.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: CadillacSerif;
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/CadillacSerifWebArabic-Heavy.woff2") format("woff2"),
    url("/assets/fonts/CadillacSerifWebArabic-Heavy.woff") format("woff");
}

// Typography
$bra2-body-1: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 16px,
  $line-height: 1.2em,
  $letter-spacing: normal,
);

$bra2-body-2: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 500,
  $font-size: 16px,
  $line-height: 1.2em,
  $letter-spacing: normal,
);

$bra2-caption: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 12px,
  $line-height: 1.2em,
  $letter-spacing: normal,
);

$bra2-h1: mat.define-typography-level(
  $font-family: "CadillacSans,Arial,Helvetica,sans-serif",
  $font-weight: 700,
  $font-size: 40px,
  $line-height: 1.2em,
  $letter-spacing: normal,
);

$bra2-h2: mat.define-typography-level(
  $font-family: "CadillacSans,Arial,Helvetica,sans-serif",
  $font-weight: 500,
  $font-size: 32px,
  $line-height: 1.2em,
  $letter-spacing: normal,
);

$bra2-h3: mat.define-typography-level(
  $font-family: "CadillacSans,Arial,Helvetica,sans-serif",
  $font-weight: 400,
  $font-size: 24px,
  $line-height: 1.2em,
  $letter-spacing: normal,
);

$bra2-h4: mat.define-typography-level(
  $font-family: "CadillacSans,Arial,Helvetica,sans-serif",
  $font-weight: 300,
  $font-size: 20px,
  $line-height: 1.2em,
  $letter-spacing: normal,
);

$bra2-typography-config: mat.define-typography-config(
  $display-4: $bra2-h1,
  $display-3: $bra2-h1,
  $display-2: $bra2-h1,
  $display-1: $bra2-h1,
  $headline: $bra2-h1,
  $title: $bra2-h2,
  $subheading-2: $bra2-h3,
  $subheading-1: $bra2-h4,
  $body-1: $bra2-body-1,
  $body-2: $bra2-body-2,
  $caption: $bra2-caption,
);



@include mat.core($bra2-typography-config);

.mat-typography {
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    height: 1em;
  }
}

// OVERALL
html {
  margin: 0;
  padding: 0;
  height: 100%;

  body {
    margin: 0;
    padding: 0;
    height: 100%;

    ul,
    li {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
    }

    .bra2-dark-theme {
      @include mat.all-component-themes($brat2-v-dark-theme);
    }
  }
}
